mixin homes
  section.homes
    .container
      h2.title Homes guests loves
      // Swiper
      .swiper.mySwiper
        .swiper-wrapper
          .swiper-slide.homes__swiper
            figure.homes__col
              .homes__col__photo
                img.homes__col__photo-png(
                  src=require('../../assets/images/homes/hotel-leopold.png'),
                  height='',
                  width='',
                  alt='hotel-leopold.png'
                )
              figcaption Hotel Leopold
              figcaption.homes__caption
                | Saint Petersburg, Russia
          .swiper-slide.homes__swiper
            figure.homes__col
              .homes__col__photo
                img.homes__col__photo-png(
                  src=require('../../assets/images/homes/apartment-sunshine.png'),
                  height='',
                  width='',
                  alt='apartment-sunshine.png'
                )
              figcaption Apartment Sunshine
              figcaption.homes__caption
                | Santa Cruz de Tenerife, Spain
          .swiper-slide.homes__swiper
            figure.homes__col
              .homes__col__photo
                img.homes__col__photo-png(
                  src=require('../../assets/images/homes/villa-kunerad.png'),
                  height='',
                  width='',
                  alt='villa-kunerad.png'
                )
              figcaption Villa Kunerad
              figcaption.homes__caption
                | Vysokie Tatry, Slowakia
          .swiper-slide.homes__swiper
            figure.homes__col
              .homes__col__photo
                img.homes__col__photo-png(
                  src=require('../../assets/images/homes/hostel-friendship.png'),
                  height='',
                  width='',
                  alt='hostel-friendship.png'
                )
              figcaption Hostel Friendship
              figcaption.homes__caption Berlin, Germany
          .swiper-slide.homes__swiper
            figure.homes__col
              .homes__col__photo
                img.homes__col__photo-png(
                  src=require('../../assets/images/homes/hotel-leopold.png'),
                  height='',
                  width='',
                  alt='hotel-leopold.png'
                )
              figcaption Hotel Leopold
              figcaption.homes__caption
                | Saint Petersburg, Russia
          .swiper-slide.homes__swiper
            figure.homes__col
              .homes__col__photo
                img.homes__col__photo-png(
                  src=require('../../assets/images/homes/apartment-sunshine.png'),
                  height='',
                  width='',
                  alt='apartment-sunshine.png'
                )
              figcaption Apartment Sunshine
              figcaption.homes__caption
                | Santa Cruz de Tenerife, Spain
          .swiper-slide.homes__swiper
            figure.homes__col
              .homes__col__photo
                img.homes__col__photo-png(
                  src=require('../../assets/images/homes/villa-kunerad.png'),
                  height='',
                  width='',
                  alt='villa-kunerad.png'
                )
              figcaption Villa Kunerad
              figcaption.homes__caption
                | Vysokie Tatry, Slowakia
          .swiper-slide.homes__swiper
            figure.homes__col
              .homes__col__photo
                img.homes__col__photo-png(
                  src=require('../../assets/images/homes/hostel-friendship.png'),
                  height='',
                  width='',
                  alt='hostel-friendship.png'
                )
                .swiper-button-next
              figcaption Hostel Friendship
              figcaption.homes__caption Berlin, Germany
        .swiper-button-prev
          svg.arrow-svg.arrow-prev(width='40', height='40')
            use(href='#arrow')
        .swiper-button-next
          svg.arrow-svg(width='40', height='40')
            use(href='#arrow')
      .swiper-pagination


